
# General files for PyCharm
/.idea/codeStyleSettings.xml
/.idea/misc.xml
/.idea/simulation-scripts.iml
/.idea/workspace.xml

# Ignored files for GAMESS Single Run
/singleRun/*.inp
/singleRun/*.log

# Ignored files for GAMESS Batch Run
/batchRun/*.inp
/batchRun/*.log
/batchRun/test_data/

# Ignored files for SMINA Batch program
/smina/*.sdf
/smina/*.pdb
/smina/*.log
/smina/README
/smina/smina.static
/smina/output/
