
/.idea/workspace.xml
/singleRun/*.inp
/singleRun/*.log
/batchRun/*.inp
/batchRun/*.log
/batchRun/test_data/
/smina/*.sdf
/smina/*.pdb
/smina/*.log
/smina/README
/.idea/misc.xml
/.idea/simulation-scripts.iml
/.idea/codeStyleSettings.xml
